:root {
  --primary: #445ded;
  --dark: #445;
  /* --light: #ddd; */
}

/* [data-bs-theme="dark"] {
  --bs-emphasis-color-rgb: 0;
} */
.btn:hover {
  transform: scale(1.1);
}
/* 
.container {
  background: var(--primary);
} */

.btn {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn-primary {
  background: var(--primary);
}

.btn-secondary {
  background: var(--dark);
}

.input-group-text {
  background-color: "" !important;
  border: none;
  padding: 0.375rem 0.3rem;
}

.card {
  color: #eee;
  background: var(--dark);
}
