:root {
  --primary: #445ded;
  --dark: #445;
  height: 100vh;
  --data-bs-theme: "dark";
  /* --light: #ddd; */
}

header {
  background: var(--primary);
}

[data-bs-theme="dark"] {
  background: #222e76;
  color: #eee;
  --dark: #445;
  --bs-emphasis-color-rgb: 0;
}

[data-bs-theme="light"] {
  --dark: #eee;
  --primary: #8b9aef;
}
.btn:hover {
  transform: scale(1.1);
  /* background: var(--dark); */
}
.container {
  /* background: var(--primary); */
  height: 100%;
}

.btn {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn-primary {
  background: var(--data-bs-theme);
  color: (var(--data-bs-theme));
}

.btn-secondary {
  background: var(--primary);
}

.input-group-text {
  background-color: "" !important;
  border: none;
  padding: 0.375rem 0.3rem;
}

.card {
  color: var(--data-bs-theme);
  background: var(--dark);
}

.card-title {
  border-bottom: 1px solid white;
  padding-bottom: 0.5em;
  background: var(--primary);
  margin-bottom: 0;
  text-transform: capitalize;
}

.card-body-display {
  background: #eee;
  color: black;
  height: 150px;
}

.single-blog {
  width: 30em;
}

.input-group-text {
  background: inherit;
}
