:root {
  --primary: #445ded;
  --dark: #445;

  /* --light: #ddd; */
}
body {
  background: #222e76;
  color: #eee;
}

header {
  background: var(--primary);
}

/* [data-bs-theme="dark"] {
  --bs-emphasis-color-rgb: 0;
} */
.btn:hover {
  transform: scale(1.1);
  /* background: var(--dark); */
}
/* 
.container {
  background: var(--primary);
} */

.btn {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn-primary {
  background: var(--primary);
}

.btn-secondary {
  background: var(--primary);
}

.input-group-text {
  background-color: "" !important;
  border: none;
  padding: 0.375rem 0.3rem;
}

.card {
  color: #eee;
  background: var(--dark);
}

.card-title {
  border-bottom: 1px solid white;
  padding-bottom: 0.5em;
  background: var(--primary);
  margin-bottom: 0;
  text-transform: capitalize;
}

.card-body-display {
  background: #eee;
  color: black;
  height: 150px;
}

.single-blog {
  width: 30em;
}
